
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif Arial, sans-serif;
}


.header {
  background-color: rgb(127, 207, 135);
  color: rgb(0, 0, 0);
  font-size: 25px; 
  text-align: center;
  padding: 40px;

}

.second{
  color:rgb(1, 26, 26)
}

.article {
  background-color: rgb(211, 129, 36);
  padding: 20px;
  margin: 30px 1px;
  border-radius: 10px;
  text-align: center; 
  border: 5px solid rgb(10, 41, 41);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #020202;
  font-size: 1em; color: #000000;
  
}

.article strong {
  display: block;
  font-size: 30px;
  margin-bottom: 12px;
  color: rgb(0, 0, 0);
}

.img {
  max-width: 100%;
  height: auto;
  padding: 12px;
  

}

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 5px 25px;
  border: none;
  border-radius: 5px;

}

.button:hover {
  background-color: rgb(170, 142, 142);
}
